
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.lehighcenter.com/wp-content/uploads/2020/08/popcorn.jpg);">
  <h1>My lists</h1>
</div>

<p id="notice"><%= notice %></p>
<div class="container">
  <ul class="list-group">
  <% @lists.each do |list| %>
    <li class="card-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path list.photo.key, crop: :fill %>">
      <%= link_to list.name, list_path(list) %>
    </li>
  <% end %>
  </ul>
</div>

<br>

<%= link_to 'new', new_list_path %>

